
.bubble
{
    --main-bg-color: #fff;
    color:"333";
    text-shadow: none;
    border: 2px solid #ccc;
   position: relative; 
   padding: 10px;
   background: var(--main-bg-color);
   -webkit-border-radius: 65px;
   -moz-border-radius: 65px;
   border-radius: 65px;
    text-align: center;
   top:-30px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   font-size: 16px;
   white-space: nowrap;
   cursor: pointer;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: var(--main-bg-color)transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -9px; 
    left: 50%;
}