.fancyText { 
    text-shadow: 
    0 -0.0025em 0 #0c2ffb, 
    0 -0.015em 0 #2cfcfd, 
    0 0.0625em 0 #fb203b, 
    0 0.125em 0 #fefc4b;
}
 
.parentContent {
    background-color: white;
    width: 100vw ;
    height: 100vh; 
    margin: 0;
    overflow:auto;
}
.parentContent .content { 
    padding: 50px;
    box-sizing: border-box; /* Ensures padding is included in the width and height */
    display: flex;
    justify-content: center;
    
    align-items: flex-start;
}